mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
    div.video-mixin__thumb(style=`background-imge:url(fd)`)
    div.video-mixin__data
      span.video-mixin__title #{videos[0].title}
      div.video-mixin__meata
        span 
        span 