mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
    div.video-mixin__thumb(style=`background-imge:url(fd)`)
    div.video-mixin__data
      span.video-mixin__title #{video.title}
      div.video-mixin__meata
        span #{video.owner.name} •
        span #{video.meta.views} 회