include ../mixins/avatar

header
  a.header__logo(href="/")
    i.fab.fa-youtube
  nav
    ul
      li
        a(href="/search")
          i.fas.fa-search
      if loggedIn
        li
          a(href="/videos/upload") Upload Video 
        li
          a(href=`/users/profile`) Edit Profile
        li
          a(href="/users/signout") Sign out
        li
          a(href=`/users/${user._id}`)
            +avatar(false, "header")
      else 
        li
          a(href="/signin") Sign in
        li
          a(href="/signup").header__btn Sign up
