extends ../base

block content
  form(method="POST")
    span.error-message #{error && error.password ? error.password : "" }
    input(placeholder="기존 비밀번호",type="password", name="curPassword")
    input(placeholder="새로운 비밀번호",type="password", name="password") 
    input(placeholder="비밀번호 확인",type="password", name="password2") 
    input(value="비밀번호 변경", type="submit") 