extends ../base
include ../mixins/video
include ../mixins/avatar

block content
  +avatar()
  div.video-grid
    each video in user.videos
      +video(video)
    else
      span.empty__message No videos found